.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  position: relative;
  border-radius: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
  width: 100%;
  flex: 0 0 auto;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  z-index: 2;
}

.carousel-controls.left {
  left: 10px;
}

.carousel-controls.right {
  right: 10px;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 10px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: width 0.5s ease;
}

.dot.active {
  width: 25px;
  border-radius: 5px;
}

.top-left-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}
