.paymentFormContainer {
  margin-top: 64px;
}

.formHeader {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}

.formDescription {
  font-size: 16px;
  color: #60646c;
}

.paymentBox {
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
}

.paymentBoxFirstRowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.paymentBoxFirstRow {
  display: flex;
  flex-direction: row;
}
.paymentBoxFirstRow p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-weight: 500;
}

.secondRowContainer {
  margin-top: 20px;
}
.secondRowContainer > :nth-child(n + 2) {
  margin-left: 10px;
}

.straightLine {
  margin-top: 40px;
  height: 1px; 
  width: 100%; 
  background-color: #dddd; 
}

.totalPayableDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.youSaveContainer {
  border-radius: 15px;
  background-color: #299764;
  padding-left: 10px;
  padding-right: 10px;
}

.youSaveContainer p {
  margin-top: 0px;
  margin-bottom: 0;
  color: #e9f9ee;
  font-size: 12px;
}

.piggyBank {
  margin-top: 2px;
  margin-right: 5px;
  vertical-align: bottom; 
  display: inline-block; 
  transform: translateY(2px);
}

.infoText {
  font-size: 12px;
  color: #60646c;
  text-decoration: underline;
  padding-right: 10px;
}
.infoTerms {
  font-size: 12px;
  color: #60646c;
  padding-right: 10px;
  font-weight: 100;
}

.infoTermsSpan {
  color: #3a5ccc;
  font-size: 12px;
  text-decoration: underline;
}

.infoContainer {
  margin-top: 10px;
}
.infoContainerTerms {
  margin-top: 30px;
}

.infoIcon {
  margin-top: -3px;
  margin-right: 5px;
  vertical-align: bottom; 
  display: inline-block; 
  transform: translateY(2px);
}

.submitButtonContainer {
  width: 200px;
  margin-top: 30px;
}
